DATABASE_URL="postgres://6afe77d66962ec8f1f137774da33f1c68ec525bdfd2cff42e524f37450a5a202:sk_B2OBBXKWW6SeX92xUeP0H@db.prisma.io:5432/postgres?sslmode=require"
NEXTAUTH_URL="https://example.com"
NEXTAUTH_SECRET=9Dc2AVGLmgodABy2OtqidsjiCofNtuqJFdNL5qg8iys=
UPLOAD_PROVIDER=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
RATE_LIMIT_SECRET=""
SEED_ADMIN_EMAIL="admin@example.com"
SEED_ADMIN_PASSWORD="123456789101112"
SEED_ADMIN_NAME="admin"
